.button,
.btn-flat {
    all: unset;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    height: auto;
    padding: 1.5rem 2.25rem;
    border: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    @media #{$medium-and-up} {
        // padding: 1.5rem 2rem;
    }

    &:hover {
        background: $white;
        border-color: $white;
        color: $font;
    }

    span {
        margin: 0 0.75rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font-condensed;
        font-size: 1.25rem; 
    }

    i {
        margin: 0 0.75rem;
    }

    &.primary {
        background: $primary;
        border-color: $medium;
        color: $white;

        &:hover {
            background: darken( $primary, 20% );
            color: $white;
        }

        span {
            color: $white;
        }

        i {
            color: $secondary;
        }

        .waves-ripple {
            background: $secondary;
        }
    }

    &.secondary {
        background: $light;

        &:hover {
            background: darken( $light, 20% );
            color: $font;
        }

        span {
            color: $font;
        }

        i {
            color: $secondary;
        }

        .waves-ripple {
            background: $secondary;
        }
    }

    &.small {
        padding: 0.75rem 1rem;
        background: $white;

        @media #{$medium-and-up} {
            // padding: 1rem 2rem;
        }

        &:hover {
            background: $light;
        }

        i {
            margin: 0 0.5rem;
        }

        span {
            margin: 0 0.5rem;
            text-transform: none;
            line-height: 1.0625rem;
            font-family: $font-primary;
            font-weight: 600;
            font-size: 1.0625rem;
        }
    }
}