.catalog {
    padding: 2rem 0;

    @media #{$medium-and-up} {
        padding: 3rem 0;
    }

    &:nth-child(odd) {
        background: $light;
    }

    h1 {
        margin-bottom: 2rem;
        line-height: 2rem;
        font-weight: 700;
        font-size: 1.875rem;
        color: $accent;
    }

    .item {
        display: flex;
        flex-flow: column wrap;
        padding: 0 1rem 1.5rem;

        @media #{$medium-and-up} {
            padding: 0;
        }

        h1 {
            margin-bottom: 1rem;
            line-height: 1.125rem;
            font-family: $font-heading;
            font-weight: 700;
            font-size: 1.125rem;
            color: $black;
        }

        figure {
            display: flex;
            flex-flow: column wrap;

            width: calc( 100% + 2rem );
            max-height: 20rem;
            margin: 0 -1rem 1.5rem;

            overflow: hidden;
            position: relative;

            @media #{$medium-and-up} {
                width: 100%;
                margin: 0 0 2.5rem;
            }

            img {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 10;
            }

            .label {
                width: 100%;
                padding: 1.5rem 1rem;

                background: rgba( $dark, 0.8 );

                line-height: 1.125rem;
                font-weight: 600;
                font-size: 1.125rem;
                color: $white;

                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 20;

                @media #{$medium-and-up} {
                    padding: 1.5rem;
                }
            }
        }
    }
}