footer {
    .footer {
        &-top {
            margin: 0;
            padding: 3.5rem 0 5rem;
            background: $primary;
            position: relative;

            h1 {
                margin-bottom: 2rem;
                text-transform: uppercase;
                line-height: 2rem;
                font-family: $font-primary;
                font-weight: 600;
                font-size: 2rem;
                color: $white;

                @media #{$medium-and-up} {
                    line-height: 2.5rem;
                    font-size: 2.5rem;
                }
            }

            p {
                margin: 0;
                line-height: 1.675rem;
                font-family: $font-primary;
                font-weight: 600;
                font-size: 1.125rem;
                color: $white;

                @media #{$medium-and-up} {
                    line-height: 1.75rem;
                    font-size: 1.25rem;
                }
            }
        }

        &-social {
            margin-top: -1.5rem;
            padding-top: 2.75rem;
            padding-bottom: 2.75rem;
            background: $secondary;

            @media #{$medium-and-up} {
                margin-top: -3.5rem;
            }

            .row {
                display: flex;
                flex-flow: column wrap;

                &:after {
                    display: none;
                }

                .col {
                    display: flex;
                    flex-flow: column wrap;

                    @media #{$medium-and-up} {
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                    }
                }

                h1 {
                    display: inline-flex;
                    min-width: 40%;

                    flex-grow: 2;
                    color: $white;

                    @media #{$medium-and-up} {
                        margin: 0;
                    }
                }

                .button {
                    justify-content: center;
                    margin: 0 0 0.5rem;

                    @media #{$medium-and-up} {
                        justify-content: flex-start;
                        margin: 0 0 0 2.5rem;
                    }
                }
            }
        }

        &-nav {
            padding: 4rem 1rem 5rem 0;

            @media #{$medium-and-up} {
                padding: 4rem 0 5rem;
            }

            p {
                padding: 0.25rem 0 1rem;
                opacity: 0.5;

                @media #{$medium-and-up} {
                    padding: 0.25rem 4rem 0.25rem 0;
                }
            }

            ul {
                margin: 0;
                padding: 1rem 0;
                border-top: 0.0625rem solid $light;

                @media #{$medium-and-up} {
                    padding: 0;
                    border: none;
                }

                li {
                    a {
                        opacity: 0.5;
                        line-height: 2.5rem;
                        font-family: $font-primary;
                        font-weight: 400;
                        font-size: 1rem;
                        color: $font;

                        &:hover {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &-bg {
            width: 100%;
            height: 100%;

            background: url('https://images.unsplash.com/photo-1551523935-6c8376e7f3dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9') center center no-repeat;
            background-size: cover;
            opacity: 0.2;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}