header {
    padding: 1.5rem 0;
    background: $white;

    .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        &.padding-x {
            @media #{$medium-and-down} {
                padding: 0;
            }
        }
    }

    .header {
        &-item {
            display: flex;
            flex-flow: column wrap;
            border-left: 0.0625rem solid $medium;

            &:first-child {
                @media #{$medium-and-down} {
                    border: none;
                }
            }

            @media #{$medium-and-up} {
                padding-left: 1.375rem;
            }

            span {
                margin: 0 0 0.5rem;
                white-space: nowrap;
                text-transform: uppercase;
                line-height: 0.875rem;
                font-family: $font-heading;
                font-weight: 700;
                font-size: 0.875rem;
                color: $accent;

                @media #{$medium-and-up} {
                    line-height: 0.9375rem;
                    font-size: 0.9375rem;
                }
            }

            a {
                margin: 0;
                padding: 0;
                white-space: nowrap;
                line-height: 0.9375rem;
                font-family: $font-primary;
                font-weight: 400;
                font-size: 0.9375rem;
                color: $font-light;

                @media #{$medium-and-up} {
                    line-height: 1rem;
                    font-size: 1rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-social {
            display: flex;
            flex-flow: row-reverse wrap;

            a {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                @media #{$medium-and-down} {
                    padding: 0.5rem 0.75rem;
                    font-size: 1.5rem;
                    color: $font-light;
                }

                @media #{$medium-and-up} {
                    width: 3.25rem;
                    height: 3.25rem;
                    margin-left: 1rem;

                    background: rgba( $primary, 0.66 );
                    border-radius: 3.25rem;

                    font-size: 1.375rem;
                    color: $white;
                }

                &:hover {
                    @media #{$medium-and-up} {
                        background: darken( $primary, 20% );
                    }
                }
            }
        }
    }
}

.logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .logomark {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        @media #{$medium-and-up} {
            width: 3.75rem;
            height: 3.75rem;
            margin-right: 1.5rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .wordmark {
        display: flex;
        line-height: 1.75rem;
        font-family: $font-heading;
        font-weight: 700;
        font-size: 1.75rem;
        color: $dark;

        @media #{$medium-and-up} {
            line-height: 3rem;
            font-size: 3rem;
        }
    }
}