.house {
    .description {
        &-wrapper {
            ul {
                box-sizing: border-box;

                @media #{$medium-and-up} {
                    padding-right: 4rem;
                }

                li {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    padding: 0.75rem 0;
                    border-bottom: 0.0625rem solid $medium;

                    span {
                        line-height: 1rem;
                        font-weight: 400;
                        font-size: 1rem;
                        color: $font;

                        &.key {
                            min-width: 12rem;
                        }

                        &.value {

                        }
                    }
                }
            }   
        }
    }

    .gallery {
        &-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            figure {
                width: calc( 50% - 0.5rem );
                height: 9rem;
                margin-bottom: 1.5rem;
                overflow: hidden;
                position: relative;

                @media #{$medium-and-up} {
                    width: calc( 25% - 1rem );
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}