.padding {
    &-x {
        padding: 0 1rem;

        @media #{$medium-and-up} {
            padding: 0 calc( 100% / 12 );
        }

        &-left {
            padding-left: 1rem;

            @media #{$medium-and-up} {
                padding-left: calc( 100% / 12 );
            }
        }

        &-right {
            padding-right: 1rem;

            @media #{$medium-and-up} {
                padding-right: calc( 100% / 12 );
            }
        }
    }
}

main {
    max-width: 100vw;
    overflow: hidden;
}

.row {
    margin-bottom: 0;

    &.centered {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

figure {
    display: flex;
    margin: 0;
    padding: 0;

    overflow: hidden;

    img {
        margin: 0;
        vertical-align: text-bottom;
    }
}

.container {
    width: 100%;
    max-width: 87.5rem;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    @media #{$small-and-down} {
        padding: 0;
    }

    @media #{$large-and-up} {
        // padding: 0 6.25rem;
    }
}

section {
    position: relative;

    &.hero {
        width: 100%;
        height: auto;
        max-height: 20rem;
        background: $primary;
        overflow: hidden;

        @media #{$medium-and-up} {
            max-height: 32rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &.page-heading {
        width: 100%;
        padding: 2.75rem 0;
        background: $white;

        .col {  
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}