header.navbar {
    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    z-index: 900;

    @media #{$medium-and-up} {
        position: absolute;
    }
}

.sidenav {
    z-index: 2000;

    &-trigger {
        margin: 0 -1rem !important;
        padding: 0 1rem;

        color: $dark;
    }

    li {
        height: auto;

        &.active {
            & > a {

            }
        }

        & > a {
            height: auto;
            padding: 1.5rem 2rem;

            line-height: 1.0625rem;
            font-family: $font-heading;
            font-weight: 700;
            font-size: 1.0625rem;
            color: $dark;
        }
    }
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    background: $light;

    position: sticky;
    top: 0;
    z-index: 1000;

    .col {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    ul {
        li {
            a {
                margin: 0;
                padding: 1.5rem;

                line-height: 1.0625rem;
                font-family: $font-heading;
                font-weight: 700;
                font-size: 1.0625rem;
                color: $dark;

                position: relative;
            }
        }
    }
}