$font-primary: 'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;
$font-heading: 'Montserrat', sans-serif;

$primary:       #67bbae;
$secondary:     #04542f;
$accent:        #c50b2f;
$font:          #677078;
$font-light:    #76797f;

$white:         #ffffff;
$light:         #f4f5f8;
$medium:        #e9ecf2;
$dark:          #5b6b6f;
$darker:        #3c3c3c;
$black:         #000000;

$transition: all 240ms ease-out;
$transition-cubic: all 160ms cubic-bezier(0.645, 0.065, 0.375, 1.010);