:root {
    font-size: 16px;
}
@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

// Foundation settings
@import 'settings';
@import '~materialize-css/sass/materialize';

// Typography
@import 'typography';

// Font awesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Custom layout
@import 'components/layout';

// Standard elements
@import 'components/buttons';
@import 'components/form';
@import 'components/header';
@import 'components/menu';
@import 'components/footer';
@import 'components/catalog';
@import 'components/house';